* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Unica One', cursive;
  outline: none !important;
}

$pink: rgb(238, 4, 199);
$pink-brighter: rgb(255, 14, 215);

%btn-pink {
  width: 70px;
  cursor: pointer;
  padding: 5px 8px;
  background: $pink;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 1px 1px .5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px .5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px .5px 0px rgba(0,0,0,0.75);
  transition: all .5s ease-in-out;
  backface-visibility: hidden;
}

@mixin keyframes($h1-animate) {
  @keyframes h1-animate {
    0% { text-shadow: none; opacity: .5; }
    50% { text-shadow: $h1-animate 0 0 $pink-brighter; opacity: 1;}
    100% { text-shadow: none; opacity: .5; }
  }
}

@include keyframes(220px);

@media (max-width: 1920px) {
  @include keyframes(162px); 
}
@media (max-width: 900px) {
  @include keyframes(143px); 
}
@media (max-width: 640px) {
  @include keyframes(90px); 
}
@media (max-width: 374px) {
  @include keyframes(80px); 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  &:hover {
  background: #555; 
  }
}

body {
  background: url(../img/abstract-art-background-696644-double_2592px.jpg) left top repeat;
  @media (max-width: 1920px) {
    background: url(../img/abstract-art-background-696644-double_1920px.jpg) left top repeat;
  }
  @media (max-width: 1200px) {
    background: url(../img/abstract-art-background-696644-double_1200px.jpg) left top repeat;
  }
  @media (max-width: 900px) {
    background: url(../img/abstract-art-background-696644-double_900px.jpg) left top repeat;
  }
  @media (max-width: 640px) {
    background: url(../img/abstract-art-background-696644-double_640px.jpg) left top repeat;
  }
  @media (max-width: 375px) {
    background: url(../img/abstract-art-background-696644-double_375px.jpg) left top repeat;
  }
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#board {
  padding: 15px 50px 20px;
  width: 100vw;
  @media (max-width: 640px) {
    padding: 15px 25px 20px;
  }
  @media (max-width: 440px) {
    padding: 15px 10px 20px;
  }
  @media (max-width: 405px) {
    padding: 15px 5px 20px 3px;
  }
  .create-column {
    @extend %btn-pink;
    margin: 200px 10px 10px;
    background: rgba(255, 255, 255, .9);
    color: $pink;
    font-weight: bold;
    &:hover {
      background: #fff;
    }
    @media (max-width: 640px) {
      margin: 130px 10px 10px;
    }
    @media (max-width: 374px) {
      margin: 90px 10px 10px;
    }
  }
  h1 {
    font-size: 100px;
    padding-top: 15px;
    padding-left: 5px;
    color: rgba(255, 255, 255, .9);
    transition: color .5s ease-in-out;
    cursor: default;
    &:hover {
      color: #fff;
      animation: h1-animate 2s;
      animation-duration: 2s;
      opacity: .5;
    }
    @media (max-width: 1920px) {
      font-size: 75px;
      padding-top: 5px;
    }
    @media (max-width: 900px) {
      font-size: 65px;
      padding-top: 0;
    }
    @media (max-width: 640px) {
      font-size: 40px;
      padding-left: 8px;
    }
    @media (max-width: 374px) {
      font-size: 35px;
    }
  }
  .btn-delete {
    outline: none !important;
    position: absolute;
    right: 10px;
    top: 0;
    height: 30px;
    line-height: 32px;
    color: $pink;
    background: rgba(255, 255, 255, 0);
    font-size: 35px;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 405px) {
      right: 5px;
      top: -1.5px;
    }
  }
  .btn-delete-col {
    right: 0px;
    width: 30px;
    padding-top: 10px;
    padding-right: 8px;
    font-size: 40px;
    z-index: 10;
    @media (max-width: 640px) {
      padding-top: 14.5px;
    }
    @media (max-width: 405px) {
      right: -5px;
    }
  }
  .column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    .column {
      order: 1;
      width: 350px;
      min-height: 173px;
      height: 100%;
      background-color: rgba(255, 255, 255, .9);
      margin: 5px 20px 25px 10px;
      position: relative;
      padding: 11px 0px 11px 14px;
      -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
      box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
      &:last-of-type {
        margin-right: 50px;
      }
      @media (max-width: 405px) {
        min-height: 133px;
        margin: 5px 20px 15px 10px;
      }
      .column-title-and-btn {
        position: relative;
        width: 100%;
        .column-title {
          font-size: 35px;
          line-height: 40px;
          height: 40px;
          cursor: pointer;
          min-width: 45px;
          display: inline-block;
          margin-bottom: 10px;
          overflow: hidden;
          background: inherit;
          @media (max-width: 640px) {
            font-size: 30px;
          }
          @media (max-width: 405px) {
            line-height: 28px;
            font-size: 23px;
          }
        }
        .column-add-card, .column-add-card::after {
          position: absolute;
          margin: 8px 20px 5px 8px;
          display: inline-block;
          @extend %btn-pink;
          &:hover {
            background: $pink-brighter;
          }
        }
        .column-add-card {
          @media (max-width: 640px) {
            visibility: hidden;
          }
        }
        .column-add-card::after {
          visibility: hidden;
          @media (max-width: 640px) {
            content: '+';
            visibility: visible;
            font-size: 33px;
            padding: 4px 3.5px 3px 3px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            top: -8.5px;
            left: 0;
            margin-left: 3px;
          }
        }
      }
      .card-list {
        min-height: 50px;
        &:hover {
          cursor: move; 
          cursor: -webkit-grab; 
          cursor:    -moz-grab;
          cursor:         grab;
        }
        &:active {
          cursor: -webkit-grabbing;
          cursor:    -moz-grabbing;
          cursor:         grabbing;
        }
        .card {
          padding-right: 35px;
          display: block;
          height: 30px;
          margin-bottom: 10px;
          overflow: hidden;
          position: relative;
          @media (max-width: 405px) {
            padding-right: 15px;
            margin-bottom: 0;
          }
          .card-description {
            height: 30px;
            line-height: 32px;
            font-size: 20px;
            min-width: 50px;
            max-width: 326px;
            background: inherit;
            cursor: pointer;
            @media (max-width: 405px) {
              font-size: 16px;
              max-width: 240px;
            }
          }
        }
        .card-placeholder {
          display: block;
          height: 30px;
          margin-bottom: 10px;
          background-color: rgb(204, 204, 204);
          border-radius: 3px;
        }
      }
    }
  }
}
